<!-- <p>userlogin works!</p> -->
<div>
    <p>
      <mat-toolbar color="primary">
      <img src = "/assets/image/banking.jpg" alt="" style="height:60px; width:100px" class="center"> &nbsp;&nbsp;
      <span> Retails Bank System</span>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
       <!-- <img src = "/assets/image/login.jpg" alt="" style="height:50px; width:80px" class="margin-left"><br> -->
       <!-- <button mat-raised-button color="primary" (click)="signUp()">Logout</button>  -->
      
    </mat-toolbar>
  </p>
  
</div>
<div class="container col-md-7">
    <h1 style="COLOR:RED;"> Bank User Login Page</h1>
    <form (ngSubmit)="userlogin()">
        <div class="mb-3">
            <label for = "exampleFormControlInput1" class="form-lebel">UserName</label>
            <input type="text" [(ngModel)]="user.username" class="form-control" id="username" name="username">
        </div>

        <div class="mb-3">
            <label for = "exampleFormControlInput2" class="form-lebel">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" mat-raised-btn color="primary">Login</button> &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="registrationUser()">User Registration</button> 
         <!-- <a href="registration">Registration User</a> -->
    </form>

</div>
