<div>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>dialpad</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="getDashboard()">
            <mat-icon>Dashboard</mat-icon>
            <span>Dashboard</span>
          </button>
          <button mat-menu-item (click)="getCustomers()">
            <mat-icon>Customer</mat-icon>
            <span>Customer Info</span>
          </button>
          <button mat-menu-item (click)="addCustomers()">
            <mat-icon>New</mat-icon>
            <span>New Customer Account</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      <img src = "/assets/image/banking.jpg" alt="" style="height:60px; width:100px" class="center"> &nbsp;&nbsp;
      <span> Retails Bank  System</span>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
       <img src = "/assets/image/login.jpg" alt="" style="height:50px; width:80px" class="margin-left">
       <button mat-raised-button color="primary" (click)="signUp()">Logout</button> 
    </mat-toolbar>
  </p>

<div class="card-body">
  <h1 style="COLOR:RED;"> New Customer Account </h1>
  <div>
    <Form [formGroup]="customerForm">
        
        <mat-form-field appearance="outline">
            <mat-label>Saluatation</mat-label>
            <mat-select placeholder="saluatation" formControlName="saluatation">
                <mat-option value="Mr">Mr</mat-option>
                <mat-option value="Dr">Dr</mat-option>
                <mat-option value="Prof">Prof</mat-option>
                <mat-option value="Mrs">Mrs</mat-option>
                <mat-option value="Miss">Miss</mat-option>
                <mat-option value="Mx">Mx</mat-option>
            </mat-select>
            
          </mat-form-field>
       
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstname">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input matInput type="text" formControlName="middlename">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastname">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>DOB</mat-label>
            <input matInput type="date" formControlName="dateOfBirth">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Pan Number</mat-label>
            <input matInput type="text" formControlName="pan">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="username">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>User Email</mat-label>
            <input matInput type="text" formControlName="useremail">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="number" formControlName="mobilenumber">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city">
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input matInput type="number" formControlName="postalcode">
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>User Status</mat-label>
            <mat-select placeholder="status" formControlName="status">
                <mat-option value="Active">Active</mat-option>
                <mat-option value="InActive">InActive</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>User Role</mat-label>
            <mat-select placeholder="role" formControlName="role">
                <mat-option value="Customer">Customer</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Account Type</mat-label>
            <mat-select placeholder="Account Type" formControlName="accountType">
                <mat-option value="Saving Account">Saving Account</mat-option>
                <mat-option value="Current Account">Current Account</mat-option>
                <mat-option value="Fixed Deposit Account">Fixed Deposit Account</mat-option>
                <mat-option value="Recurring Deposit Account">Recurring Deposit Account</mat-option>
            </mat-select>
          </mat-form-field>

          <div mat-dialog-action [align]="'end'">
            <button mat-raised-button color="Warn" mat-dialog-close color="primary" (click)="back()">Exit</button>
            <button style="margin-left:8px;" mat-raised-button color="primary" (click)="createCustomer()">Save</button>
          </div>
    </Form>
</div>

  </div>
  </div>

