
<div>
    <p>
      <mat-toolbar color="primary">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>dialpad</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="getDashboard()">
                <mat-icon>Dashboard</mat-icon>
                <span>Dashboard</span>
              </button>
              <button mat-menu-item (click)="getCustomers()">
                <mat-icon>Customer</mat-icon>
                <span>Customer Info</span>
              </button>
              <button mat-menu-item (click)="addCustomer()">
                <mat-icon>New</mat-icon>
                <span>New Customer Account</span>
              </button>
              <!-- <button mat-menu-item (click)="getTransaction()">
                <mat-icon>Deposit</mat-icon>
                <span>Deposit Amount</span>
              </button> -->
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
      <img src = "/assets/image/banking.jpg" alt="" style="height:60px; width:100px" class="center"> &nbsp;&nbsp;
      <span> Retails Bank System</span>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
       <img src = "/assets/image/login.jpg" alt="" style="height:50px; width:80px" class="margin-left">
       <button mat-raised-button color="primary" (click)="signUp()">Logout</button> 
    </mat-toolbar>
  </p>
  
  <div class="container">
      <h1 style="COLOR:RED;"> Bank Transaction Deposit </h1>

      <Form [formGroup]="depositForm">
        
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Account Number</mat-label>
            <input matInput type="number" formControlName="accountId">
          </mat-form-field> &nbsp; &nbsp;
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="balance">
          </mat-form-field>
         
          <div mat-dialog-action [align]="'end'">
            <button mat-raised-button color="Warn" mat-dialog-close color="primary" (click)="back()">Exit</button>
           <button style="margin-left:8px;" mat-raised-button color="primary" (click)="depositAmount()">Submit</button>
          </div>
    </Form>
  </div>

